body{
    padding: 0;
    margin: 0;
    background-color: #060613;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

body::-webkit-scrollbar{
    overflow-y: hidden;
}

h2{
    color: rgb(225, 230, 226);
    margin-left: 2%;
  }